$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$mainColor: #e2494c;
$secondColor: #6c6c6c;
$thirdColor: #3c3c3c;

$flex-direction: if($ltr, row, row-reverse);
$text-align: if($ltr, left, right);
$text-reverse: if($ltr, right, left);
$direction: if($ltr, ltr, rtl);