/* start footer*/
.footer {
  direction: $direction;
  background-color: rgba($secondColor, 0.5);
  padding: 0 30px;
  margin-top: 50px;


  .d-flex {
    @media #{$maxSmall} {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .gallery {
    width: 50%;

    @media #{$maxSmall} {
      width: 100%;
    }

    .section-title {
      text-transform: capitalize;
      color: $thirdColor;
    }



    .img-box {
      margin-bottom: 10px;

      img {
        width: 210px;
        height: 130px;
        margin-bottom: 10px;

        @media #{$maxSmall} {
          width: 30%;
        }

        @media #{$maxMobile} {
          width: 70%;
        }
      }

      .text {
        width: calc(100% - 210px);
        margin: 0 15px;

        @media #{$maxSmall} {
          width: 65%;
        }


        h4 {
          color: $mainColor;
          text-shadow: 1px 1px 1px #000;
          font-size: 18px;
          margin: 10px 0 5px;
        }

        p {
          color: $thirdColor;
          line-height: 1.5;
        }
      }
    }
  }


  .info {
    text-transform: capitalize;
    width: 25%;
    color: $thirdColor;
    padding: 0 10px;

    @media #{$maxSmall} {
      width: 50%;
    }

    @media #{$maxMobile} {
      width: 100%;
    }

    ul {
      line-height: 1.7;

      li {
        span {
          color: $mainColor;
          text-shadow: 1px 1px 1px #000;
          letter-spacing: 2px;
        }
      }
    }

    h4 {
      margin-bottom: 0px;
    }

    p {
      margin-top: 8px;
    }
  }

  .contact {
    text-transform: capitalize;
    width: 25%;
    padding: 0 10px;

    @media #{$maxSmall} {
      width: 50%;
    }

    @media #{$maxMobile} {
      width: 100%;
    }

    input[type='text'],
    input[type='email'],
    textarea {
      width: 100%;
      border: 1px solid $secondColor;
      margin-bottom: 5px;
      border-radius: 5px;
      padding: 10px;
    }

    textarea {
      height: 140px;
    }
  }

  .copyright {
    text-transform: capitalize;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid $mainColor;
    color: $thirdColor;
    margin-top: 30px;

    .text,
    .auther {
      width: 50%;

      @media #{$maxSmall} {
        width: auto;
      }
    }

    .text {}

    .auther {
      text-align: $text-reverse;
    }
  }
}

/* end footer*/