.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.d-flex {
  display: flex;
  justify-content: center;
  flex-direction: $flex-direction;
  // flex-wrap: wrap;
}