.header {
  padding: 20px 0;
  text-transform: capitalize;
  border-bottom: 1px solid $secondColor;

  .logo {
    position: relative;

    @media #{$maxSmall} {
      width: 100%;
    }

    @media #{$minSmall} {
      text-align: center;
    }

    h1 {
      margin-bottom: 0;
      margin-top: 10px;
    }

    p {
      color: $secondColor;
    }
  }

  .navbar {
    background-color: $mainColor;
    border-radius: 15px;

    @media #{$minSmall} {
      display: flex !important;
    }

    @media #{$maxSmall} {
      width: 100%;
    }

    @media #{$minMedium} {
      width: 70%;
    }

    @media #{$maxMobile} {
      display: none;
      border-radius: 0;
    }

    li {
      width: 20%;
      font-size: 18px;
      text-align: center;

      @media #{$maxSmall} {
        width: 100%;
      }

      a {
        display: inline-block;
        padding: 20px 10px;
        color: #FFF;
        text-decoration: none;

        &:hover {
          color: #DDD;
        }
      }
    }
  }
}